<div class="col-lg-4"></div>
<div class="col-lg-4">
    <form class="form-horizontal" action="/user/password" method="POST">
        <legend>Change Password</legend>
        <div class="form-group">
            <label for="inputPassword" class="col-lg-4 control-label">Old Password</label>
            <div class="col-lg-8">
                <input type="password" class="form-control" id="inputPassword" placeholder="Old Password"
                    name="password">
            </div>
        </div>
        <div class="form-group">
            <label for="inputNewPassword" class="col-lg-4 control-label">New Password</label>
            <div class="col-lg-8">
                <input type="password" class="form-control" id="inputNewPassword" placeholder="New Password"
                    name="newPassword">
            </div>
        </div>
        <div class="form-group">
            <label for="inputConfirmPassword" class="col-lg-4 control-label">Confirm Password</label>
            <div class="col-lg-8">
                <input type="password" class="form-control" id="inputConfirmPassword" placeholder="Confirm New Password"
                    name="confirmPassword">
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-10 col-lg-offset-8 col-xs-offset-8">
                <button type="submit" class="btn btn-primary">Change</button>
            </div>
        </div>
    </form>
</div>
<div class="col-lg-4">
    <%- include('partials/alert') %>
</div>