<h1>Terms of service</h1>
<div class="container">
    <div class="row">
        <div class="section">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ut iusto voluptas esse vel explicabo modi
            laudantium
            voluptatibus velit! Modi impedit non architecto numquam libero corporis eaque beatae in? Minus cumque quis,
            a
            eligendi esse vero enim minima quia saepe necessitatibus quas natus, possimus rem corrupti. Earum quaerat
            ipsa
            labore voluptates quo provident omnis dignissimos praesentium. Neque illo cumque unde! Excepturi illo
            aperiam
            odio, hic voluptate minima necessitatibus blanditiis sint accusantium tempora optio nam explicabo totam
            porro
            odit nulla expedita corporis? Atque, voluptates at magni aliquam, temporibus nulla a quisquam optio totam
            deleniti obcaecati explicabo quis veritatis? Cupiditate ex incidunt aliquid!
        </div>
        <br>
        <div class="section">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ut iusto voluptas esse vel explicabo modi
            laudantium
            voluptatibus velit! Modi impedit non architecto numquam libero corporis eaque beatae in? Minus cumque quis,
            a
            eligendi esse vero enim minima quia saepe necessitatibus quas natus, possimus rem corrupti. Earum quaerat
            ipsa
            labore voluptates quo provident omnis dignissimos praesentium. Neque illo cumque unde! Excepturi illo
            aperiam
            odio, hic voluptate minima necessitatibus blanditiis sint accusantium tempora optio nam explicabo totam
            porro
            odit nulla expedita corporis? Atque, voluptates at magni aliquam, temporibus nulla a quisquam optio totam
            deleniti obcaecati explicabo quis veritatis? Cupiditate ex incidunt aliquid!
        </div>
        <br>
        <div class="section">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ut iusto voluptas esse vel explicabo modi
            laudantium
            voluptatibus velit! Modi impedit non architecto numquam libero corporis eaque beatae in? Minus cumque quis,
            a
            eligendi esse vero enim minima quia saepe necessitatibus quas natus, possimus rem corrupti. Earum quaerat
            ipsa
            labore voluptates quo provident omnis dignissimos praesentium. Neque illo cumque unde! Excepturi illo
            aperiam
            odio, hic voluptate minima necessitatibus blanditiis sint accusantium tempora optio nam explicabo totam
            porro
            odit nulla expedita corporis? Atque, voluptates at magni aliquam, temporibus nulla a quisquam optio totam
            deleniti obcaecati explicabo quis veritatis? Cupiditate ex incidunt aliquid!
        </div>
    </div>
</div>